@charset "UTF-8";

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        margin: 0 0 20% 0;
    }

    .principal-p p{
        width: 100%;
        margin: 20px 20px;
    }
}