@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*
HEADER AND NAV MENU OPTIONS
*/

header {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.536);
    background-color: rgba(0, 0, 0, 0.958);
}

.header-container {
    display: flex;
    max-width: 1024px;
    padding: 0 2%;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    color: white;
}

.menu {
    text-align: right;
}

.menu nav a {
    text-decoration: none;
    font-size: 12pt;
    margin-right: 20px;
    color: white;
}

.menu nav a:hover {
    border-bottom: 2px solid white;
}

.menu nav .menu-btn {
    border: 2px solid white;
    padding: 2px 10px;
    border-radius: 5px;
    display: inline-block;
}

.menu nav .menu-btn:hover {
    background-color: lightslategray;
    color: white;
}

/*
SECTION MAIN CONTENT
*/

.main {
    background-image: url(images/pexels-neo-2653362.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 62.8px 0;
    border-top: 2px solid white;
} 

.main-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    padding: 0 2%;
    margin: 0 auto;
    color: white;
}

.principal {
    width: 100%;
    margin: 60px 0;
    text-align: center;
}

.principal h2 {
    font-size: 38px;
}

.principal p {
    font-size: 18px;
    margin: 10px 0;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
}

.content {
    background-color: rgba(255, 255, 255, 0.318);
    width: 24%;
    margin: 12% 1% 0 0;
    padding: 50px 20px;
    border-radius: 8px;
}

.content h2 {
    text-align: center;
    margin: 10px 0;
}

.content p {
    text-align: justify;
}

/*
SECTION - PRINCIPAL
*/

.principal-container {
    max-width: 1024px;
    padding: 50px 0;
    margin: 0 auto;
}

.principal-intro {
    text-align: center;
}

.principal-intro h2 {
    font-size: 32px;
}

.principal-intro p {
     margin: 10px 0;
}

.principal-p {
    display: flex;
    flex-wrap: wrap;
}

.principal-p p {
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
}